.info {
    padding: 40px;
    height: 500px;
    width: auto;
    border: 1px solid black;
    background-image: url("/img/plasma.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    color: darkblue;
}
